<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		
		<key>BTMainFile</key>
			<string>index.html</string>
		<key>BTThemePreviewImage</key>
			<string>preview.png</string>
			
		<key>BTWindowWidth</key>
			<integer>800</integer>
		<key>BTWindowHeight</key>
			<integer>80</integer>
			
		<key>BTThemeName</key>
			<string>Shufflesque3</string>
		<key>BTThemeIdentifier</key>
			<string>com.stevenla.Shufflesque3</string>
		<key>BTThemeArtist</key>
			<string>Steven La</string>
		<key>BTThemeVersion</key>
			<string>1.0</string>
		<key>BTArtistURL</key>
			<string>http://stevenla.com</string>
		
		<key>BTReadyFunction</key>
			<string>themeReady</string>
		<key>BTArtworkFunction</key>
			<string>artworkUpdate</string>
		<key>BTTrackFunction</key>
			<string>trackUpdate</string>
		<key>BTPlayStateFunction</key>
			<string>playStateUpdate</string>
		<key>BTStatusFunction</key>
			<string>playerUpdate</string>
			
	</dict>
</plist>
