@font-face {
  font-family: 'Aller';
  src: url('font/aller_rg.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller';
  src: url('font/aller_bd.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Aller';
  src: url('font/aller_lt.ttf');
  font-weight: lighter;
  font-style: normal;
}

body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Aller', Helvetica, sans-serif;
  text-shadow: 0 1px 1px #000;
  -webkit-transition: opacity .8s ease-in-out;
}

.stopped {
  opacity: .25;
}

.paused {
  opacity: .5;
}

#artwork-container {
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  background-color: #000;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px #000;
  z-index: 999;
}

.artwork {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -36px;
  top: 0;
  -webkit-transition-property: left;
  -webkit-transition-duration: .25s;
  -webkit-transition-timing-function: linear;
}

.no-art {
  display: none;
}

.artwork-current {
  -webkit-animation: artwork-enter .25s linear forwards;
  left: 0;
}

@-webkit-keyframes artwork-enter {
  0% {
    left: 48px;
  }
  100% {
    left: 0;
  }
}

.base-info,
.base-artwork {
  display: none;
}

.info {
  width: 740px;
  position: absolute;
  top: 10px;
  left: 34px;
  opacity: 0;
  -webkit-transition-property: left, opacity;
  -webkit-transition-duration: .25s;
  -webkit-transition-timing-function: ease-out;
}

.info-current {
  -webkit-animation: info-enter .25s ease-in forwards;
  left: 74px;
  opacity: 1;
  background-color: red;
}

@-webkit-keyframes info-enter {
  0% {
    left: 104px;
    opacity: 0;
  }
  100% {
    left: 74px;
    opacity: 1;
  }
}

.progress-wrap {
  width: 200px;
  height: 1px;
  position: absolute;
  top: 25px;
  box-shadow: 0 1px 1px #000;
  background-color: #fff;
}

.progress-bar {
  width: 0;
  height: 1px;
  background-color: #0fb8e9;
  -webkit-transition: width .8s ease-in-out;
}

.name {
  max-width: 720px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  font-size: 13px;
  top: 5px;
}

.meta {
  width: 720px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  top: 32px;
}

.dot {
  font-family: Helvetica;
}

